<!DOCTYPE html>
<html>
<head>
    <title><%= title || '新环境监控系统' %></title>
    <% include public/cssandjs %>
</head>
<body class="dark">
<div class="wrapper-container">
    <div class="reg-panel">
        <form id="loginFrm" action="/login" method="post" enctype="application/x-www-form-urlencoded">
            <div class="main">
                <div class="reg-item">
                    <label>用户名：</label>
                    <input type="text" name="username" class="input-xlarge"/>
                </div>
                <div class="reg-item">
                    <label>密码：</label>
                    <input type="password" name="password" class="input-xlarge"/>
                </div>
                <div class="reg-item">
                    <button class="btn btn-primary">登录</button>
                </div>
            </div>
        </form>
        <div class="back-to-login"><a href="/reg">注册新账号 <i class="icon-arrow-right"></i></a></div>
    </div>
</div>
<script>
    require(['moniter-login']);
</script>
</body>
</html>
