<%
var menu = [
    {name: '我的工作台', id: 'index', uri: '/'},
    {name: '我的项目', id: 'project', uri: '/project'},
    {name: '用户管理', id: 'user', uri: '/user', username: 'admin'}
], item;
%>
<aside>
    <ul>
        <%
        var show = true;
        for(var i = 0;i < menu.length;i++){
            item = menu[i];
            show = item.username ? item.username === user ? true : false : true;
        if(show){
        %>
        <li
                <% if(module === item.id){ %>
                class="active"
                <% } %>
        ><a href="<%= item.uri %>"><%= item.name %></a></li>
        <% } } %>
    </ul>
</aside>